<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>TheBlog</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-600 text-gray-200 text-lg">

    {{! Header }}
    <header class="flex items-stretch w-screen">
      <h1 class="pl-5">
        <a href="/" class="title text-white text-5xl">The<span
            class="title text-gray-900 font-black"
          >BLOG</span><br /><span class="flex float-right text-sm">Love your
            story.</span></a>
      </h1>

      {{! logout/login/sign up  }}
      <nav class="flex items-center ml-auto">
        <div class="">
          <ul class="flex">
            <li class="mr-3">
              <a
                class="inline-block border border-gray-600 rounded-lg py-2 px-4 hover:border-gray-500 hover:bg-gray-500"
                href="/"
              >Home</a>
            </li>
            {{! if logged in show sign-out button }}
            {{#if logged_in}}
              <li>
                <a
                  id="dashboard"
                  class="inline-block border border-gray-600 rounded-lg py-2 px-4 hover:border-gray-500 hover:bg-gray-500"
                  href="/dashboard"
                >Dashboard</a>
              </li>
              <li>
                <a
                  id="logout"
                  class="inline-block border border-gray-600 rounded-lg py-2 px-4 hover:border-gray-500 hover:bg-gray-500"
                  href="/logout"
                >Logout</a>
              </li>

              {{! if logged out show login/signup }}
            {{else}}
              <li>
                <a
                  class="inline-block border border-gray-600 rounded py-2 px-4 hover:border-gray-500 hover:bg-gray-500"
                  href="/login"
                >
                  <span>Login</span>
                </a>
              </li>
              <li>
                <a
                  class="inline-block border border-gray-600 rounded py-2 px-4 hover:border-gray-500 hover:bg-gray-500"
                  href="/signup"
                >
                  <span>Sign Up</span>
                </a>
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>

    {{! handlebars template }}
    <section class="bg-gray-900 h-5/6">
      {{{body}}}
    </section>

    {{! footer }}
    <footer class="mt-auto">
      <div class="text-center w-screen bottom-0">
        <p>&copy; Designed by Travis Shanhun</p>
        <p>&copy; 2023</p>
      </div>
    </footer>

    <script src="/js/signup.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/newBlog.js"></script>
    <script src="/js/delete.js"></script>
    <script src="/js/editBlog.js"></script>
  </body>
</html>

{{!-- TODO: get "Love your story" to be closer to TheBLOG --}}
{{!-- TODO: get compatible for mobile --}}