<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{!-- <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    /> --}}
    <title>TheBlog</title>
  </head>
  <body>

    {{! Header }}
    <header>
      <h1>
        <a href="/">The<span id="title-blog">BLOG</span></a>
      </h1>

      {{! logout/login/sign up  }}
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          {{! if logged in show sign-out button }}
          {{#if logged_in}}
             <li>
              <a id="dashboard" href="/dashboard">Dashboard</a>
            </li>
            <li>
              <a id="logout" href="/logout">Logout</a>
            </li>
         

            {{! if logged out show login/signup }}
          {{else}}
            <li>
              <a href="/login">
                <span>Login</span>
              </a>
            </li>
            <li>
              <a href="/signup">
                <span>Sign Up</span>
              </a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>

    {{! handlebars template }}
    <section>
      {{{body}}}
    </section>

    {{! footer }}
    <Footer>
      <p>Designed by Travis Shanhun</p>
      <p>2023</p>
    </Footer>

    <script src="/js/signup.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/newBlog.js"></script>
    <script src="/js/delete.js"></script>
    <script src="/js/editBlog.js"></script>
  </body>
</html>