<main class="text-center">

  <h3>
    <a
      class="border border-gray-200 rounded-lg px-4 hover:bg-green-300 bg-green-500"
      href="/newblog"
    >Click here to create a new blog</a>
  </h3>

  {{! old posts from user  }}
  <article>
    {{#each blogs}}
      <div
        class="rounded-xl shadow-lg p-10 m-10 bg-gray-800"
      >
        <div>
          {{! card title div }}
          <a class="title text-2xl text-gray-600 font-black hover:underline" href="/editblog/{{id}}">{{title}}</a>
        </div>
        <div>
          {{! card body div }}
          {{blog}}
        </div>
        {{! buttons div }}
        <div>
          {{! edit blog button }}
          <a
            class="border border-gray-200 rounded-lg px-4  hover:bg-gray-400"
            href="/editblog/{{id}}"
          >Edit</a>
        </div>
      </div>
    {{/each}}
  </article>
</main>

{{! TODO: change blog content to hold 1000 words }}
{{! TODO: get blog to take entire page width --- runs over footer }}
{{! TODO: get create blog button to space from top }}