<main>
 
 <h3>
    <a href="/newblog">Click here to create a new blog</a>
 </h3>

    {{!-- old posts from user  --}}
    <article>
        {{#each blogs}}
        <div>
            {{!-- card title div --}}
            {{title}}
        </div>
        <div>
            {{!-- card body div --}}
            {{blog}}
        </div>
        {{/each}}
    </article>
</main>