<main>

  <h3>
    <a href="/newblog">Click here to create a new blog</a>
  </h3>

  {{! old posts from user  }}
  <article>
    {{#each blogs}}
      <div>
        {{! card title div }}
        <a href="/editblog/{{id}}">{{title}}</a>
      </div>
      <div>
        {{! card body div }}
        {{blog}}
      </div>
      {{! buttons div }}
      <div>
        {{!-- edit blog button --}}
        <a href="/editblog/{{id}}">Edit</a>
      </div>
    {{/each}}
  </article>
</main>