{{! edit post template }}
<section>
  <div>
    {{! title div }}
  </div>
  <div>
    {{! blog div }}
  </div>
  <div>
    {{! created date div }}
  </div>
  <div>
    {{! buttons div  }}
    <button id="edit-btn">Submit Change</button>
    <button id="delete">Delete</button>
  </div>
</section>