{{! if there are any past blogs, show here in separate cards }}
<section class="h-screen">
  <div class="flex flex-wrap w-full place-content-evenly">
    {{! wrapper for entire card}}
    {{#each blogs}}
      <div class="text-center rounded-xl shadow-lg p-10 m-10 bg-gray-800 w-3/12">
        {{! card title div }}
        <div>
          <a class="title text-2xl text-gray-600 font-black hover:underline" href="/blog/{{id}}">{{title}}</a>
        
          {{! card body div}}
          <div>
            {{! created by and date div}}
            <p>Created by: {{user.username}} <br> Date: {{format_date createdAt}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>

