{{!-- login page  --}}

{{!-- main --}}
<section>
    {{!-- form --}}
    <form>
        {{!-- name --}}
        <label for="username">Username:</label>
        <input type="text" id="username-login" placeholder="Username">
        {{!-- password --}}
        <label for="password">Password:</label>
        <input type="password" id="password-login" placeholder="Password">
        {{!-- submit --}}
        <button>Login</button>
    </form>
</section>