{{!-- login page  --}}

{{!-- main --}}
<section>
    {{!-- form --}}
    <form>
        {{!-- name --}}
        <label for="username">Username:</label>
        <input type="text" placeholder="Username">
        {{!-- password --}}
        <label for="password">Password:</label>
        <input type="password" placeholder="Password">
    </form>
</section>