{{! new blog page }}
<section class="text-center p-10">
  <h3 class="mb-3">Create a blog!!</h3>

  <form id="new-blog-form">

    {{! title input  }}
    <label>Title:</label>
    <input
      id="title-input"
      type="text"
      placeholder="Title:"
      class="text-black border border-green-500 text-center rounded-lg focus:ring-gray-50 focus:border-gray-50 focus:border-transparent block w-full px-10 resize-none"
    /><br />

    {{! blog input  }}
    <label>Write your new blog here:</label>
    <textarea
      rows="20"
      id="new-blog-input"
      placeholder="Create here:"
      class="text-black border border-green-500 text-center rounded-lg focus:ring-gray-50 focus:border-gray-50 focus:border-transparent block w-full px-10 resize-none"
    ></textarea>
    <button
      type="submit"
      class="border border-gray-200 rounded-lg px-4 hover:bg-gray-400 mt-3"
    >Submit</button>
  </form>
</section>

{{! TODO: get blogs to hold more than 30 words }}
{{! TODO: blogs can be created without being logged in... Fix this }}