   {{!-- new blog page --}}
       <h3>Create a new Blog!!</h3>

   <form id="new-blog-form">

        {{!-- title input  --}}
        <label>Title:</label>
        <input id="title-input" type="text" placeholder="Title:">

        {{!-- blog input  --}}
        <label>Write your new blog here:</label>
        <textarea id="new-blog-input" placeholder="Create here:"></textarea>
        <button type="submit">submit</button>
    </form>