{{!-- signup --}}

<section>
    {{!-- form  --}}
    <form>
        {{!-- Name --}}
        <label for="username">Username:</label>
        <input type="text" id="username-signup" placeholder="Username:">
        {{!-- email --}}
        <label for="email">Email:</label>
        <input type="text" id="email-signup" placeholder="Email:">
        {{!-- password --}}
        <label for="password">Password:</label>
        <input type="password" id="password-signup" placeholder="Password must be more than 8 characters in length">
        {{!-- button --}}
        <button>Submit</button>
    </form>
</section>